{% extends 'base.html' %}
{% block content%}
    <div class="container mt-5">
        <div class="col-md-6 mx-auto">
        <h1 class="text-center">Cost Engine</h1>
         <div class="card">
             <div class="card-body">
                 
                     <form id='myform' action="" method="get">
                        <div class="form-group">
                            <label for="sel1">Region</label>
                            <select class="form-control" id="sel1">
                              <option>--------</option>
                              {% for i in data %}
                              <option>{{ i.region }}</option>
                              {% endfor %}
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="sel1">Category </label>
                            <select class="form-control" id="sel2">
                                <option>--------</option>
                                {% for i in data %}
                                <option>{{i.category}}</option>
                                {% endfor %}
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="sel1">Sub Category</label>
                            <select class="form-control" id="sel3">
                                <option>--------</option>
                                {% for i in data %}
                                <option>{{i.subcatagory}}</option>
                                {% endfor %}
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="sel1">Sub Sub Category</label>
                            <select class="form-control" id="sel3">
                                <option>--------</option>
                                {% for i in data %}
                                <option>{{i.subsubcategory}}</option>
                                {% endfor %}
                            </select>
                          </div>

                         <button id="target" class='btn btn-success float-right' type="submit">Search</button>
                     </form>
                 </div>
             </div>
         </div>
     <div id='table' class="container mt-5">
         {% for item in data %}
         <div class="text-center mx-auto">
             <h1 style="text-align:center;">
                 <strong class="text-primary">{{ item.productname }}</strong>
             </h1>
         </div>
         <div class="table-responsive table-striped">
             <table class="table">
                 <thead class="thead-dark">
                     <tr>
                         <th scope="col">Item Number</th>
                         <th scope="col">{{ item.sku }}</th>   
                         <th scope="col"></th> 
                         <th scope="col"></th> 
                         <th scope="col"></th> 
                         <th scope="col"></th> 
                     </tr>
                 </thead>
                 <tbody>
                     <tr>
                         <tr>      
                         <th scope="row">Quantities</th>
                         {% for i in items %}
                         <td> {{i.quantity}} </td>
                         {% endfor %}
                     </tr>
                     <tr>  
                         <th scope="row">Fixed Cost</th>
                         {% for i in items %}
                         <td> {{i.price}} </td>
                         {% endfor %}
                     </tr>
                         <tr style="background-color: rgb(142, 253, 253);" id='pcc'>      
                         <th scope="row">Product Cost C$</th>
                         {% for i in items %}
                         <td> {{i.productcost}} </td>
                         {% endfor %}
                     </tr>
                         <tr id='inp'>      
                         <th scope="row">Target Gross Profit(in%)</th>
                         {% for i in items %}
                         <td><input type="text" value="33" class="tgp" size="5"></td>
                         {% endfor %}
                         </tr>
                         <tr style="background-color: rgb(142, 253, 253);" id='bcps'>      
                         <th scope="row">Base Product Sales Price C$</th>
                         {% for i in items %}
                         <td> {{i.baseproductsalesprice}} </td>
                         {% endfor %}
                     </tr>
                     <tr style="background-color: yellow">      
                         <th>Options</th>
                         {% for i in items %}
                         <td>  </td>
                         {% endfor %}     
                 </tr>
                 <tr style="background-color: skyblue">      
                    <th>
                        Markup Rate(in %) :
                        <input id="mrk" type="number" size="30" value="{{item.markup}}">
                     </th>  
                    {% for i in items %}
                    <td>  </td>
                    {% endfor %}
            </tr>

                 {% for opt in options%}
                {% if item.sku == opt.sku %}

                 <tr class="optval">
                    <th scope="row">{{opt}} : <input type="text" step="0.01" value="{{opt.optionvalue}}" size="3" class="optcls">
                        <select name="option"  width="3" class="ddlopt">
                            <option value="N">No</option>
                            <option value="Y">Yes</option>
                          </select>
                    </th>
                    {% for i in items %}
                         <td class="tdopt"> 0 </td>
                    {% endfor %}
                </tr>
                {% endif %}
          {% endfor %}
                <tr id='tos'>
                    <th>Total Options :</th>
                    {% for i in items %}
                    <td> 0 </td>
                    {% endfor %}
                </tr>
                <tr style="background-color: greenyellow">
                    <th></th>
                    {% for i in items %}
                    <td>  </td>
                    {% endfor %}
                </tr>
                <tr id='tsp'>
                    <th>Total Sales Price Net/Unit C$ :</th>
                    {% for i in items %}
                    <td>  </td>
                    {% endfor %}
                </tr>
                <tr id='fly'>
                    <th>Flyer Price(C) :</th>
                    {% for i in items %}
                    <td>  </td>
                    {% endfor %}
                </tr>

                 </tbody>
             </table>
            
         </div>
         {% endfor %}
         
          
        </div>
         </div>
     </div>
     


     
      


{% endblock %}
