<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Cost Engine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="col-md-6 mx-auto">
        <h1 class="text-center">Cost Engine</h1>
         <div class="card">
             <div class="card-body">
                     <form id='myform' action="{% url 'home' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="sel1">Region</label>
                            <select class="form-control" id="sel1" name="region">
                              <option>--Select--</option>
                              {% for data in reg %} 
                              <option id="{{ data.id }}">{{ data }}</option>
                              {% endfor %}
                            </select>
                          </div>
                          <div class="form-group" id="sel2">
                            <label>Category</label>
                            <select class='form-control' id='ddlcat'>
                                <!-- <option>-Select-</option> -->
                            </select>
                          </div>
                          <div class="form-group" id="sel3">
                            <label>Sub Category</label>
                            <select class='form-control' id='ddlsubcat'>
                                <!-- <option>-Select-</option> -->
                            </select>
                          </div>
                          <div class="form-group" id="product">
                            <label>Products</label>
                            <select class='form-control' id='ddlpro' name="sku">
                                <!-- <option>-Select-</option> -->
                            </select>
                          </div>
                          <button type="submit" class="btn btn-success float-right">Search</button>
                     </form>
                 </div>
             </div>
         </div>
         <div id='table' class="container mt-5">
            {% if prodata%}
            {% for item in prodata %}
            <div class="text-center mx-auto">
                <h1 style="text-align:center;">
                    <strong class="text-primary">{{ item.productname }}</strong>
                </h1>
            </div>
            <div class="table-responsive table-striped" id="tableaagyga">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Item Number</th>
                            <th scope="col">{{ item.sku }}</th>   
                            <th scope="col"></th> 
                            <th scope="col"></th> 
                            <th scope="col"></th> 
                            <th scope="col"></th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <tr>      
                            <th scope="row">Quantities</th>
                            {% for i in items %}
                            <td> {{i.quantity}} </td>
                            {% endfor %}
                        </tr>
                        <tr>  
                            <th scope="row">Fixed Cost</th>
                            {% for i in items %}
                            <td> {{i.price}} </td>
                            {% endfor %}
                        </tr>
                            <tr style="background-color: rgb(142, 253, 253);" id='pcc'>      
                            <th scope="row">Product Cost C$</th>
                            {% for i in items %}
                            <td> {{i.productcost}} </td>
                            {% endfor %}
                        </tr>
                            <tr id='inp'>      
                            <th scope="row">Target Gross Profit(in%)</th>
                            {% for i in items %}
                            <td><input type="text" value="{{ item.targetgrossprofit }}" class="tgp" size="5"></td>
                            {% endfor %}
                            </tr>
                            <tr style="background-color: rgb(142, 253, 253);" id='bcps'>      
                            <th scope="row">Base Product Sales Price C$</th>
                            {% for i in items %}
                            <td> {{i.baseproductsalesprice}} </td>
                            {% endfor %}
                        </tr>
                        <tr style="background-color: yellow">      
                            <th>Options</th>
                            {% for i in items %}
                            <td>  </td>
                            {% endfor %}     
                    </tr>
                    <tr style="background-color: rgb(34, 247, 97);">      
                        <th>
                            Markup Rate(in %) :
                            <input id="mrk" type="number" size="30" value="{{item.markup}}">
                         </th>  
                        {% for i in items %}
                        <td>  </td>
                        {% endfor %}
                    </tr>
                    {% for opt in options%}
                    {% if item.sku == opt.sku %}
                    <tr class="optval">
                       <th scope="row">{{opt}} : <input type="text" step="0.01" value="{{opt.optionvalue}}" size="3" class="optcls">
                           <select name="option"  width="3" class="ddlopt" id="opt{{opt.id}}">
                               <option value="N">No</option>
                               <option value="Y">Yes</option>
                             </select>
                       </th>
                       {% for i in items %}
                            <td class="tdopt"> 0 </td>
                       {% endfor %}
                   </tr>
                   {% endif %}
             {% endfor %}
                   <tr id='tos'>
                       <th>Total Options :</th>
                       {% for i in items %}
                       <td> 0 </td>
                       {% endfor %}
                   </tr>
                   <tr style="background-color: greenyellow">
                       <th></th>
                       {% for i in items %}
                       <td>  </td>
                       {% endfor %}
                   </tr>
                   <tr id='tsp'>
                       <th>Total Sales Price Net/Unit C$ :</th>
                       {% for i in items %}
                       <td>  </td>
                       {% endfor %}
                   </tr>
                   <tr id='fly'>
                       <th>Flyer Price(C) :</th>
                       {% for i in items %}
                       <td>  </td>
                       {% endfor %}
                   </tr>
                    </tbody>
                </table>
            </div>
            {% endfor %}
            {% endif %}
            <!-- ############## IMPORT TABLE ############## -->
            {%if improdata %}
            {% for imd in improdata %}
            <div class="text-center mx-auto">
                <h1 style="text-align:center;">
                    <strong class="text-primary">{{ imd.productname }}</strong>
                </h1>
            </div>
         </div>
         <div class="table-responsive table-striped">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Item Number</th>
                        <th scope="col">{{ imd.sku }}</th>   
                        <th scope="col"></th> 
                        <th scope="col"></th> 
                        <th scope="col"></th> 
                        <!-- <th scope="col"></th>  -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <tr>      
                        <th scope="row">Quantities</th>
                        {% for i in items %}
                        <td> {{i.quantity}} </td>
                        {% endfor %}
                    </tr>
                    <tr>  
                        <th scope="row">Factory Cost</th>
                        {% for i in items %}
                        <td> {{i.price}} </td>
                        {% endfor %}
                    </tr>
                    <tr>      
                        <th scope="row">Setup Fee</th>
                        {% for i in items %}
                        <td> {{i.setupfee}} </td>
                        {% endfor %}
                        </tr>
                        <tr style="background-color: rgb(142, 253, 253);" id='pcc'>      
                        <th scope="row">Product Cost C$</th>
                        {% for i in items %}
                        <td> {{i.productcost}} </td>
                        {% endfor %}
                    </tr>
                        <tr id='inp'>      
                        <th scope="row">Target Gross Profit(in%)</th>
                        {% for i in items %}
                        <td><input type="text" value="33" class="tgp" size="5"></td>
                        {% endfor %}
                        </tr>
                        <tr style="background-color: rgb(142, 253, 253);" id='bcps'>      
                        <th scope="row">Base Product Sales Price C$</th>
                        {% for i in items %}
                        <td> {{i.baseproductsalesprice}} </td>
                        {% endfor %}
                    </tr>   
                    <tr>      
                        <th scope="row">Freight / Unit</th>
                        {% for i in items %}
                        <td> {{i.freight}} </td>
                        {% endfor %}
                    </tr>
                    <tr>      
                        <th scope="row">Freight Mark-Up/ Unit</th>
                        {% for i in items %}
                        <td> {{i.freightadmin}} </td>
                        {% endfor %}
                    </tr>
                    <tr style="background-color: rgb(142, 253, 253);">      
                        <th scope="row" >Total Freight U$</th>
                        {% for i in items %}
                        <td> {{i.totalfrieght}} </td>
                        {% endfor %}
                    </tr>
                    <tr>      
                        <th scope="row" >Duty (in %) : 
                            <input type="number" size="30" value="{{imd.duty}}">
                        </th>
                        {% for i in items %}
                        <td> {{i.duty}} </td>
                        {% endfor %}
                    </tr>
                    <tr>      
                        <th scope="row" >Mark-Up (in %) :    
                       <input type="number" size="30" value="{{imd.markup}}">
                        </th>
                        {% for i in items %}
                        <td> {{i.markup}} </td>
                        {% endfor %}
                    </tr>
                    <tr style="background-color: rgb(142, 253, 253);">      
                        <th scope="row" >Net Duty U$
                        </th>
                        {% for i in items %}
                        <td> {{i.netduty}} </td>
                        {% endfor %}
                    </tr>
                    <tr style="background-color: rgb(34, 247, 97);">      
                        <th scope="row">Sub Total</th>
                        {% for i in items %}
                        <td> {{i.subtotal}} </td>
                        {% endfor %}
                    </tr>
                    <tr style="background-color: rgb(148, 148, 137)">
                        <th></th>
                        {% for i in items %}
                        <td>  </td>
                        {% endfor %}
                    </tr>
                    <tr style="background-color: yellow">      
                        <th>Options</th>
                        {% for i in items %}
                        <td>  </td>
                        {% endfor %}     
                </tr>
                <tr style="background-color: skyblue">      
                   <th>
                       Markup Rate(in %) :
                       <input id="mrk" type="number" size="30" value="{{imd.markuprate}}">
                    </th>  
                   {% for i in items %}
                   <td>  </td>
                   {% endfor %}
           </tr>
           {% for opt in options %}
           {% if imd.sku == opt.sku %}
           <tr style="background-color: skyblue">
            <tr class="optval">
                <th scope="row">{{opt}} : <input type="text" step="0.01" value="{{opt.optionvalue}}" size="3" class="optcls">
                    <select name="option"  width="3" class="ddlopt" id="opt{{opt.id}}">
                        <option value="N">No</option>
                        <option value="Y">Yes</option>
                      </select>
                </th>
                {% for i in items %}
                <td class="tdopt"> 0 </td>
                {% endfor %}
            </tr>
            </tr>
                {% endif %}
                {% endfor %}
               <tr id='tos' style="background-color: rgb(34, 247, 97);">
                   <th>Total Options :</th>
                   {% for i in items %}
                   <td>  0</td>
                   {% endfor %}
               </tr>
               <tr style="background-color: rgb(148, 148, 137)">
                <th></th>
                {% for i in items %}
                <td>  </td>
                {% endfor %}
            </tr>
               <tr >
                   <th><button  id="toggle-btn" class="btn btn-outline-dark" onclick="myFunction()"> Additional Options </button></th>
                   {% for i in items %}
                   <td> </td>
                   {% endfor %}
               </tr>
            {% for addopt in addoptions %}
           {% if imd.sku == addopt.sku %}
           <tr style="background-color: skyblue">
            <tr class="optval" id="myDIV">
                <th scope="row">{{addopt}} : <input type="text" step="0.01" value="{{addopt.optionvalue}}" size="3" class="optcls">
                </th>
                {% for i in items %}
                <td class="tdopt"> 0 </td>
                {% endfor %}
            </tr>
            </tr>
            {% endif %}
            {% endfor %}
            <tr style="background-color: skyblue">      
                <th> Total Sales Price Net Unit U$ </th>  
                {% for i in items %}
                <td> 0 </td>
                {% endfor %}
        </tr>
        <tr>      
            <th>
                Forex :
                <input  type="number" size="30" value="{{imd.forex}}">
             </th>  
            {% for i in items %}
            <td> {{i.forex}} </td>
            {% endfor %}
    </tr>
    <tr style="background-color: skyblue">      
        <th> Total Sales Price Net Unit C$ </th>  
        {% for i in items %}
        <td> 0 </td>
        {% endfor %}
</tr>
    <tr>      
        <th>Flyer Price(C)</th>  
        {% for i in items %}
        <td> 0 </td>
        {% endfor %}
</tr>
<tr>      
    <th>Flyer Price(R)</th>  
    {% for i in items %}
    <td> 0 </td>
    {% endfor %}
</tr>
<tr>     
    <th></th> 
    {% for i in items %}
    <td>  </td>
    {% endfor %}
</tr>

<tr>      
    <th>Overall GrossMargin$ (In USD)</th>  
    {% for i in items %}
    <td> 0 </td>
    {% endfor %}
</tr>
<tr>      
    <th>Overall GrossMargin$ (In %)</th>  
    {% for i in items %}
    <td> 0 </td>
    {% endfor %}
</tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
        {% endif%} 

     </div>
     <script>
        function myFunction() {
        $("#myDIV").toggle();
        }
         $("#sel1").change(function() {
        var item=$(this);
        var id = $(this).children(":selected").attr("id");
        $.ajax({
            type: 'POST',
            url: '/main',
            data: {
            'value': id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType:'json',
            success: function(data) {
                $.each(data, function (key, entry) {
                    var cat=$('#ddlcat');
                    var subcat = $('#ddlsubcat');
                    var pro = $('#ddlpro');
                    cat.empty()
                    subcat.empty()
                    pro.empty()
                    var part = $('#ddlcat');
                    part.empty().append($('<option></option>').val('').text('--Select--'));
                    $.each(entry, function (index, item) {
                        part.append($('<option></option>').val(item).text(item));
                    
                    });
                });
            }
        });
        return false;     
        });
        $("#sel2").change(function() {
        var item=$('#ddlcat').val();
        var region = $('#sel1').val();
        $.ajax({
            type: 'POST',
            url: '/subcat',
            data: {
            'value': item,
            'region':region,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType:'json',
            success: function(data) {
                $.each(data, function (key, entry) {
                    var part = $('#ddlsubcat');
                    part.empty().append($('<option></option>').val('').text('--Select--'));
                    $.each(entry, function (index, item) {
                        part.append($('<option></option>').val(item).text(item));
                    });
                });
            }
        });
        return false; 
        });
        $("#sel3").change(function() {
        var region = $('#sel1').val()
        $.ajax({
            type: 'POST',
            url: '/productname',
            data: {
            'region':region,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType:'json',
            success: function(data) {
                $.each(data, function (key, entry) {
                    var part = $('#ddlpro');
                    part.empty().append($('<option></option>').val('').text('--Select--'));
                    $.each(entry, function (index, item) {
                        var newitem = item.split('>>')[0]
                        var skunum = item.split('>>')[1]
                        part.append($('<option></option>').val(skunum).text(newitem));
                    });
                });
            }
        });
        return false;
        });
        $('#ddlpro').change(function () {  
        var region = $('#sel1').val()
        var sku = $('#ddlpro').val();
        console.log('outside');
        $.ajax({
            type: 'POST',
            url: '/productget',
            data: {
            'region':region,
            'sku': sku,
            csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType:'json',
            // success: function(data,response) {
            //     console.log(sku);
            //     $('#tableaagyga').html(response);
            //     console.log(response);
            // }
            success: function (data) {
                console.log('inside');
                console.log(data);
            },
        });
        return false;
        });
    </script>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>